<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href ='public/style.css' rel ='stylesheet' type ='text/css'>
  <script src ='public/src/interface.js'></script>
  <title>Document</title>
</head>
<body>
  <h1 id ='title'>Notes App</h1>
  <div id = 'note-box'>
    <form type ='text'>
    <textarea placeholder = 'Enter text here...'></textarea>
    </form>
    <button id ='create-note'>Create</button>
  </div>

</body>
</html>