@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-areas: "note list";
  grid-template-columns: 55% 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  margin: 0 auto;
}

main {
  grid-area: note;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

#note-list {
  display: flex;
  flex-direction: column;
  overflow-Y: scroll;
  width: 80%;
}

section {
  grid-area: list;
  height: 490px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

h2 {
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  background-color: rgb(100, 100, 100);
  width: inherit;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 400;
  font-size: 1.3rem;
}

.notebook {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 400px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
  background-color: rgba(226, 226, 226, 0.363);
  margin-top: 25px;
}

#note-list p {
  font-weight: 300;
  padding: 0;
  margin: 5px;
}

#title {
  letter-spacing: 2px;
  text-align: center;
}
textarea {
  height: 360px;
  width: 300px;
  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  border-radius: 5px;
}

#create-note {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: .9rem;
}

.note-pop-up {
  margin: 0 auto;
  overflow-y: scroll;
  padding: 20px;
  border-top: 1px solid #ddd;
  width: 430px;
  height: 260px;
  visibility: hidden;
  background-color: #fff;
  border-radius: 5px;
  animation: note .2s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-play-state: paused;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}



.close-btn {
  display: flex;
  align-items: center;
  visibility: hidden;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color:rgb(214, 41, 41);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  color: white;
  border: none;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.close-btn:hover {
  transform: scale(1.06);
}

.close-btn span {
  color: rgb(214, 41, 41);
}

.close-btn:hover span {
  visibility: visible;
  color: rgb(59, 59, 59);
}

header {
  position: fixed;
  width: inherit;
  height: 20px;
}

#note {
  font-size: 1.2rem;
  padding: 0 10px 10px 30px;
}

@keyframes note {
  from {
    width: 0px;
    height: 0px;
  } to {
    width: 400px;
    height: 250px;}
}
