#note-list {
  list-style: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.note-pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 20px;
  width: 400px;
  height: 250px;
  visibility: hidden;
  background-color: #fff;
  border-radius: 5px;
  animation: note .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-play-state: paused;
  position:relative;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}



.close {
  display: flex;
  align-items: center;
  visibility: hidden;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color:rgb(255, 58, 58);
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 5px;
  border-radius: 50%;
  color: white;
  border: none;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.close:hover {
  transform: scale(1.06);
}

.close span {
  color: rgb(255, 58, 58);
}

.close span:hover {
  visibility: visible;
  color: black;
}

#note {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

@keyframes note {
  from {
    width: 0px;
    height: 0px;
  } to {
    width: 400px;
    height: 250px;}
}
